:root {
  /* шрифти */
  --textPrimary: "Raleway", serif;
  --textSecondary: "Oswald", serif;
  /* кольори */
  --colorTextPrimary: #000000;
  --colorTExtContrast: #ffffff;
  --colorButton: #b2ffa6;
  --colorBGPrimary: #121212;
  --colorBGSection: #efefef;
}
body {
  font-family: var(--textPrimary);
  color: var(--colorTextPrimary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: var(--colorTextPrimary);
}
.nav-link {
  font-family: var(--textSecond);
  color: var(--colorTExtContrast);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--colorButton);
}

/* hero section */
.hero-title {
  font-size: 64px;
  font-weight: 400;
  text-transform: capitalize;
}
.hero-title-part {
  font-weight: 700;
  font-size: 64px;
}
.hero-button {
  line-height: 1.5;
  letter-spacing: 0.6em;
  background-color: var(--colorButton);
  font-family: var(--textSecondary);
}
/* section about */
.about-text {
  background-color: var(--colorBGSection);
}
.about-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 40px;
}
.about-text {
  font-size: 37px;
  line-height: 1.19;
}
.about-link {
  color: var(--colorTextPrimary);
  line-height: 1.5;
  font-family: var(--textSecondary);
  background-color: var(--colorButton);
  text-decoration: none;
}
/* section features */
.features-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}

/* section services */
.services {
  background-color: var(--colorBGSection);
}
.services-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.services-text {
  text-align: center;
  font-size: 32px;
}
.services-name {
  font-weight: 600;
}
.services-button {
  font-family: var(--textSecondary);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.5;
  border: 3px solid;
  border-radius: 5px;
  padding: 15px 80px;
  cursor: pointer;
}

/* footer */
.footer {
  background-color: var(--colorBGPrimary);
}
.footer-logo {
  font-weight: 300;
  color: var(--colorTExtContrast);
  font-size: 40px;
  text-decoration: none;
}
.footer-logo-part {
  font-weight: 700;
}
.footer-policy {
  color: var(--colorTExtContrast);
  font-size: 24px;
}
